Header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    transition: all ease 0.5s;
}
Header.black{
    background-color: rgb(5, 5, 5);
}
.Header--logo {
    height: 70px;
}
.Header--logo img {
    height: 100%;
    border-radius: 5%;
    opacity: 0.9;
    background-image: radial-gradient(transparent 30%, #000 70%);
    width: 120px; 
    height: 70px; 
    object-fit: cover;
    margin-top: 3px;
}
.Header--user {
    height: 70px;

}
.Header--user img {
    height: 100%;
    border-radius: 10px;
    margin-top: 1px;
}