Header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    transition: all ease 1s;
}
Header.black{
    background-color: #000;
}
.Header--logo {
    height: 70px;
}
.Header--logo img {
    height: 100%;
    border-radius: 40%;
    opacity: 0.9;
    background-image: radial-gradient(transparent 30%, #000 70%);
}
.Header--user {
    height: 70px;

}
.Header--user img {
    height: 100%;
    border-radius: 10px;
    margin-top: 3px;
}