/*fundo da tela principal do filme*/
.featured {
    height: 100vh;
}
.featured--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, rgb(5, 5, 5) 28%, transparent 60%);
}
.featured--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, rgb(5, 5, 5) 15%, transparent 90%);
    padding-left: 30px;
    padding-top: 180px;
    padding-bottom: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured--name {
    font-size: 60px;
    font-weight: bold;
}

.featured--info {
    Padding-top: 10px;

}

.feature--points,.featured--year,.featured--seasons {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    padding-right: 15px;

}
.featured--description {
    display: inline-block;
    height: 400px;
    font-size: 22px;
    margin-top: 15px;
    max-width: 40%;
    color: #999;
}
.featured--genres {
    margin-top: 20px;
    font-size: 20px;
    color: #999;
}
.featured--buttons {
    margin-top: 25px;

}
.featured--watchbutton,.featured--mylistbutton{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
    opacity: 1;
    transition: all ease 0.3s;
}
.featured--watchbutton:hover,.featured--mylistbutton:hover {
    opacity: 0.6;
}
.featured--watchbutton {
    background-color: #FFF;
    color: #000;
}
.featured--mylistbutton {
    background-color: #333;
    color: #FFF;
}