@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.movieRow {
    margin-bottom: 30px;
    padding-left: 30px;
}
.movieRow h2 {
    margin: 0px, 0px, 0px, 30px;
}
.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 40px;
}
.movieRow--list {
    width: 99999999px;
}
.movieRow--item {
    display: inline-block;
    width: 300px;
}
.movieRow--item img {
    width: 100%;
    transform: scale(0.85);
    padding-right: 10px;
    transition: all ease 0.3s;
    border-radius: 30px;
}
.movieRow--item img:hover {
    transform: scale(1);
}
.movieRow--Name {
    text-align: center;
    font-family: 'Roboto';
}
.movieRow--left,.movieRow--right{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(1,1,1, 0.7);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5;
}
.movieRow--left{
    left: 0;
}
.movieRow--right{
    right: 0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right, {
    opacity: 1;
}