@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body{
  background-color: rgb(5, 5, 5);
  color: #FFF;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.lists {
  margin-top: -350px;
}
footer{
  margin: 50 px 0;
  text-align: center;
}